<div class="container">
  <table class="table table-striped table-hover caption-top">
    <caption class="text-center">
      LIST OF POSTS
    </caption>
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Body</th>
        <th scope="col">UserId</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let post of postsToDisplay" [routerLink]="[post.id, 'edit']">
        <th scope="row">{{ post.id }}</th>
        <td>{{ post.title }}</td>
        <td>{{ post.body }}</td>
        <td>{{ post.userId }}</td>
      </tr>
    </tbody>
  </table>
  <div>
    <app-pagination
      [count]="posts.length / countPerPage"
      [activePage]="activePage"
      (page)="pageHandler($event)"
    ></app-pagination>
  </div>
</div>
